html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: Verdana, Arial, Sans-serif;
}
/*svg {
    width: 2480px;
    height: 1748px;
}*/
line {
    stroke-width: 3px;
    stroke: red;
}

line.cutline{
    stroke-width: 1px;
    stroke: grey;
}

rect {
    stroke-width: 3px;
    fill:none;
    /*stroke: red;*/
}
.mapcontour {
    border: none;
    fill: none;
    stroke: black;
    stroke-width: 1; 
}

.explainer {
    padding: 1rem;
    background-color: #143642;
    color: #DAD2D8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.explainer span{
    padding: 0.5rem;
}
.explainer a{
    color: #DAD2D8;
}

.p-1{
    padding: 0.5rem;
}

.flexparent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.container{
    margin: 0 20%;
}
.content{
    overflow: auto;
}

button{
    padding: 1rem;
    background-color:#A8201A;
    color: #DAD2D8;
    border: none;
}

button.hidden{
    display: none;
}

@media print {
    .dont_print{
        display: none !important;
    }
}
@media screen {
    .print_only{
        display: none !important;
    }
}
   
